---
layout: default
id: 0
---
<div class="container">

{% assign position = 1 %}
{% assign left = true %}

{% for post in paginator.posts %}
    {% if position == 1 %}
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5 {% if left == true %}lightter{% else %}darker{% endif %}">
          {% if left == true %}
            {% include post_icons_lightter.html %}
          {% else %}
            {% include post_icons_darker.html %}
          {% endif %}
        </div>
        {% assign position = 2 %}
    {% else %}
        <div class="col-sm-5 {% if left == true %}darker{% else %}lightter{% endif %}"> 
          {% if left == true %}
             {% include post_icons_darker.html %}
          {% else %}
            {% include post_icons_lightter.html %}
          {% endif %}
        </div>
        <div class"col-sm-1">
        </div>
      </div>
      {% if left == true %} {% assign left = false %} {% else %} {% assign left = true %} {% endif %}
      {% assign position = 1 %}
    {% endif %}

{% endfor %}

{% if position == 2 %}
  <div class="col-sm-5 {% if left == true %}lightter{% else %}darker{% endif %}">
  </div>
  <div class="col-sm-1">
  </div>
</div>
{% endif %}

</div>

<nav class="spacing">
  <ul class="pagination justify-content-center pagination-lg">

{% if paginator.previous_page %}

    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
    </li>

{% endif %}

{% if paginator.next_page %}

    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
    </li>

{% endif %}
  </ul>
</nav>
