---
layout: default
id: 0
---
<div class="container">

{% assign position = 1 %}

{% for post in paginator.posts %}
    {% if position == 1 %}
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5">
          {% include post_icons.html %}
        </div>
        {% assign position = 2 %}
    {% else %}
        <div class="col-sm-5"> 
          {% include post_icons.html %}
        </div>
        <div class"col-sm-1">
        </div>
      </div>
      {% assign position = 1 %}
    {% endif %}

{% endfor %}

{% if position == 2 %}
  <div class="col-sm-5">
  </div>
  <div class="col-sm-1">
  </div>
</div>
{% endif %}

</div>

<nav class="spacing">
  <ul class="pagination justify-content-center pagination-lg">

{% if paginator.previous_page %}

    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
    </li>

{% endif %}

{% if paginator.next_page %}

    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
    </li>

{% endif %}
  </ul>
</nav>
